
/* @import "../../node_modules/@material/theme/mdc-theme.scss"; */
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);

body {
	/* background-image: url(https://i.imgur.com/ugWb6BU.gif);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-family: 'Work Sans', sans-serif; */
	/* font-family: 'Montserrat', sans-serif; */
	background-color: #efefef;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 4%;
}

.top {
	/* background-color: white; */
	display: flex;
	justify-content: center;
}

/* myProgress is progress bar. */
#myProgress {
  width: 50%;
	/* height: 1%; */
  background-color: #ddd;
	border-radius: 2%;
	/* padding: 0.4%; */
	margin-bottom: 1%;
	margin-top: 1%;
}

/* myBar is the text inside of the bar. */
#myBar {
  width: 0%;
  height: 1%;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.material-icons {
	/*height: 100%;*/
	padding-top: 20px;
	width: 100%;
}


.question-image {
	width: 90%;
	height: 75%;
	padding-top: 3%;
	justify-content: center;
	display: flex;
	margin: auto;
	/* flex-direction: column; */
}

.question-title {
	text-align: center;
	font-size: 250%;
	font-weight: bold;
	padding-top: 4%;
	display: block;
}


.row div{
	height: 60%;
}

.col-sm-6 {
	background-color: white;
	border-radius: 2%;
	padding: 1%;
	margin: 1%;
	width: 48%;
}
