@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);

body {
	background-image: url(https://i.imgur.com/ugWb6BU.gif);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-family: 'Work Sans', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	border-radius: 1%;
	padding: 1%;
	margin-bottom: 1%;
	margin-top: 4%;
}


.material-icons {
	/*height: 100%;*/
	padding-top: 20px;
	width: 100%;
}


.question-image {
	width: 100%;
	height: 80%;
	padding-top: 3%;
}



.question-title {
	text-align: center;
	font-size: 250%;
	font-weight: bold;
	padding-top: 4%;
	display: block;
}


.row div{
	height: 80%;
}

.col-sm-6 {
	height: 80%;
	background-color: white;
	border-radius: 2%;
	padding: 1%;
	margin: 1%;
	width: 48%;
}

/* myProgress is progress bar. */
#myProgress {
	align-self: center;
  width: 80%;
  background-color: #ddd;
}
/* myBar is the text inside of the bar. */
#myBar {
  width: 0%;
  height: 10px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
