body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-size: auto;
	background: linear-gradient(#1b7068,#3aafa2);
}

.header h1{
	margin-left: 10%;
	margin-top: 5%;
	font-weight: 900;
}

.content {
	text-align: center;
	margin-top: 8%;
}

.content h2{
	font-weight: 900;
	font-size: 500%;
	line-height: 130%;
}

.content h3{
	line-height: 180%;
	font-weight: 150;
}

.go {
	background-color: black;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	border-color: black;
	margin-top: 2%;
	border-radius: 10px;
}

.button-text {
	color: white;
	font-size: 150%;
}


/*.avocado-gradient {

}*/


/*.avocado-flat{background-color:#3aafa2}.avocado-flat .secondary-bg{background-color:#1b7068}.avocado-flat .accent-bg{background-color:#353740}.avocado-flat .primary-color{color:#fff}.avocado-flat .secondary-color{color:#e4f4f2}.avocado-flat .svg-fill{fill:#fff}*/
/*.avocado-gradient{background:linear-gradient(#1b7068,#3aafa2)}.avocado-gradient .secondary-bg{background-color:#1b7068}.avocado-gradient .accent-bg{background-color:#353740}.avocado-gradient .primary-color{color:#fff}.avocado-gradient .secondary-color{color:#e4f4f2}.avocado-gradient .svg-fill{fill:#fff}.avocado-accent{background-color:#353740}.avocado-accent .secondary-bg{background-color:#1b7068}.avocado-accent .accent-bg{background-color:#3aafa2}.avocado-accent .primary-color{color:#fff}.avocado-accent .secondary-color{color:#e1e1e2}.avocado-accent .svg-fill{fill:#fff}.avocado-black{background-color:#1b7068}.avocado-black .secondary-bg{background-color:#3aafa2}.avocado-black .accent-bg{background-color:#353740}.avocado-black .primary-color{color:#fff}.avocado-black .secondary-color{color:#ddeae9}.avocado-black .svg-fill{fill:#fff}.avocado-white{background-color:#fff}.avocado-white .secondary-bg{background-color:#e4f4f2}.avocado-white .accent-bg{background-color:#353740}.avocado-white .primary-color{color:#000}.avocado-white .secondary-color{color:#8f8f8f}.avocado-white .svg-fill{fill:#3aafa2}*/
